<header class="header site-header container-fluid">

      <!-- MENU OPCIONAL -->
      <!--nav class="fixed-top nav" style="display: none">
            <ul class="list-inline">
                  <li>Home</li>
                  <li>Sobre</li> 
                  <li>Contato</li>
            </ul>
      </nav>
      <nav class="fixed-top" id="nav">
            <i id="fa-bars" class="fa fa-bars pull-right"></i>
      </nav-->
      
      <div class="wrapper col-12 " style="padding-top: 8%;padding-bottom: 5%;">

            <h1 class="text-center text-uppercase"><a href="{{ site.url }}"> {{ site.name}} </a></h1>
            <h2><strong>Aceita tomar um café e conversar sobre desenvolvimento? <br><br> Então vamos lá!</strong></h2>
            <!-- <h2>{{ site.description }}</h2> -->
            <a href="https://www.github.com/ihfernando" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.fb.com/ihfeeh" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.twitter.com/ihfernando" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ihfeeh/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
      </div>

</header>
