---
layout: default
comments: true
---
<a class="back-home" href="{{ site.url }}/"><i class="fa fa-angle-left"></i> VOLTAR </a>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
			{% if page.author %} • 
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name">{{ page.author }}</span>
			</span>
			{% endif %}
		</p>
    		<!-- Tempo de leitura do post -->
    		<p class="text-muted">
			<small><i class="fa fa-clock-o"></i>
    				{% assign words = content | number_of_words %}
					{% if words < 360 %}
				  	Tempo de leitura: 1 min
					{% else %}
				  	Tempo de leitura: {{ words | divided_by:180 }} mins
				{% endif %}
			</small>
		</p>
	</header>
	
	<div class="post-content" itemprop="articleBody">
	    {{ content }}
	</div>

	<!-- Share nas Redes Sociais -->
	{% include share.html %}

	<hr>
	<section class="author">
           <img class="img-responsive pull-left" src="/blog/assets/img/profile.jpg" width="140px" />
            <h3> {{ site.author }} <i class="fa fa-coffee"></i></h3>
            <p class="text-muted text-sm descricao-author">
		    Atuando como desenvolvedor <strong>Front-End</strong>, estudante de <u>Sistemas para Internet</u>, busco conhecimento a cada dia para trazer o melhor resultado possível aos meus objetivos. <u>Amante de café</u> e <strong>umas animações loucas</strong>.
            </p>
            <hr>
      </section>

</article>

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				{% if page.previous %}
				<a href="/blog{{ page.previous.url }}" rel="prev">
					<button class="btn btn-default btn-lg btn-block" style="padding: 20px"> &larr; {{ page.previous.title }} </button>
				</a>
				{% endif %}
			</div>

			<div class="col-md-6">

				{% if page.next %}
				<a href="/blog{{ page.next.url }}" rel="next">
					<button class="btn btn-success btn-lg btn-block" style="padding: 20px"> {{ page.next.title }} &rarr; </button>
				</a>
				{% endif %}
			</div>
		</div>
	</div>
	<hr>
</section>

<!-- Disqus comments -->
{% include disqus.html %}

